.cardContainer {
  padding: 20px 28px;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 14px;
  background: #fff;
}
.cardContainer > h6 {
  color: #384260;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cardContainer > h2 {
  color: #384260;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 40px */
}
.cardContainer > h4 {
  color: #384260;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.locationContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  gap: 10px;
}
.location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.location > h5,
.jobType > h5 {
  color: #384260;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.postedOn > h5 {
  color: rgba(56, 66, 96, 0.7);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.salary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.salary > h5 {
  color: #384260;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 20px */
}
.salary > h5 > span {
  color: #384260;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
.salary > button {
  background: #0061fe;
  border-radius: 8px;
  padding: 14px 20px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
