/* LandingNavbar.module.css */

.LandingNavbar {
  background-color: #fff;
  height: 85px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  transition: 0.6s;
  position: relative;
  z-index: 1;
}

.logo > img {
  width: 80%;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: var(--font-color-primary, #3c3a36);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
}

.menu a:hover {
  color: #0f6af5;
}

.buttons button {
  border: none;
  padding: 8px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signup {
  background-color: #0061fe;
  border: 2px solid #0f6af5 !important;

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
}

.login {
  background-color: #fff;
  border: 2px solid #0f6af5 !important;
  border-radius: 5px;
  color: #0f6af5;
  text-align: center;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
}

.signup:hover,
.login:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .LandingNavbar {
    padding: 0 2%;
  }
  .logo {
    width: 60%;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 95px;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
    z-index: 99;
    transition: 0.6s;
  }

  .menuOpen {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: flex-;
    padding: 5%;
  }

  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
  }
  .buttons > button,
  .buttons > a {
    font-size: 12px;
    margin-left: 0px;
  }
  .mobileButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .hamburger {
    cursor: pointer;
    width: auto;
    margin-right: 10px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #3c3a36;
    margin-bottom: 4px;
    padding: 2px;
  }
}
