.jobDetail {
  display: flex;
  padding: 0 6%;
  margin-top: 10px;
  width: 100%;
}

.jobDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
  border-bottom: rgba(212, 215, 227, 0.38) 1px solid;
}

.jobDetailHeaderLeftTitle {
  font-weight: bold;
  font-size: 48px;
  color: #384260;
}

.jobDetailHeaderLeftSubTitle {
  color: #384260;
  font-size: 18px;
}

.jobDetailHeaderLeftSubTitle {
  color: #384260;
  font-size: 16px;
  margin-top: 5px;
}

.jobDetailHeaderRight {
  display: flex;
  gap: 40px;
}

.jobDetailBody {
  width: 100%;
  padding: 0 6%;
  display: flex;
}

.jobDetailBodyLeft {
  width: 70%;
  padding: 30px 0px;
}

.jobDetailBodyRight {
  width: 30%;
  padding: 30px 0px;
}

.jobDetailBodyItemTitle {
  font-weight: bold;
  font-size: 24px;
  color: #384260;
  margin-bottom: 10px;
}

.jobDetailBodyItem {
  margin-bottom: 14px;
}

.jobDetailBodyItemValue {
  font-size: 16px;
  font-weight: 300;
  color: #384260;
  width: 86%;
}

.jobDetailBodyItemValue ul {
  list-style-type: none;
  padding-bottom: 16px;
}

.jobDetailBodyItemValue ul li {
  padding-bottom: 8px;
}

.jobDetailBodyItemValue ul li::before {
  content: "-";
  color: #384260;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.jobDetailBodyRightItem {
  border: #d4d7e3 1.5px solid;
  padding: 20px 30px;
  border-radius: 10px;
}

.deadlineTag {
  background-color: #f5f7fa;
  color: #384260;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  padding: 20px 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.applyBtnDisabled {
  background-color: #d4d7e3 !important;
  cursor: not-allowed;
  color: #212121 !important;
}
.applyBtn {
  width: 100%;
  padding: 22px;
  border-radius: 12px;
  background-color: #0061fe;
  color: #fff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
