/* ProfilePage.module.css */
.profilePageContainer {
  width: 100%;
  height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
.profileSidebar {
  width: 20%;

  margin-right: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profileSidebarMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profileSidebarMenu li {
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profileSidebarMenu li:hover {
  color: #09090a !important;
}

.current {
  color: #09090a !important;
  border-radius: 8px;
  background-color: rgba(219, 218, 227, 0.3);
}

.profileContainer {
  width: 45%;
  padding: 22px 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.formColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 14px;
  margin-right: 10px;
}

.formColumn > label {
  color: #0c1421;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 10px;
}

.formColumn > input,
select {
  border-radius: 12px;
  border: 2px solid #eff0f6;
  background: #fff;
  color: #8897ad;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 12px;
  width: 100%;
}

button {
  background-color: #0f6af5;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.authContainer {
  display: flex;
  padding: 0 6%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  align-items: center;
}
.formRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.formColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 14px;
  margin-right: 10px; /* Adjust spacing between columns */
}
.authContainerLeft {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: calc(85vh - 80px);
  padding: 0px 50px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progressHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
  border-bottom: 1px solid #d9dbe9;
  margin-bottom: 20px;
  padding-bottom: 18px;
  gap: 18px;
}
.step {
  background-color: #eff0f6;
  color: #6f6c90;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.activeStep {
  background-color: #0f6af5;
  color: #fff;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.progressBarHalf {
  width: 50%;
  height: 6px;
  background-color: #1336fe;
  position: relative;
  border-radius: 40px;
}
.progressBarComplete {
  width: 100%;
  height: 6px;
  background-color: #1336fe;
  position: relative;
  border-radius: 40px;
}
.authContainerLeft > h3 {
  color: var(--primary-text, #0c1421);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.36px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.authContainerLeft > p {
  color: var(--secondary-text, #313957);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}
/* .authForm {
  margin-top: 5px;
} */
.formColumn > label {
  color: var(--primary-text, #0c1421);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
  margin-bottom: 12px;
  margin-top: 10px;
}
.formColumn > input,
select {
  border-radius: 12px;
  border: 2px solid var(--neutral-300, #eff0f6);
  background: var(--neutral-100, #fff);
  color: #8897ad;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
  padding: 12px;
  width: 100%;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.btnOutline {
  background-color: transparent !important;
  border: 2px solid #0f6af5 !important;
  color: #0f6af5 !important;
  font-weight: 500 !important;
}
.btnContainer > button {
  margin-top: 10px;
  width: 50%;
  border-radius: 12px;
  background: #0f6af5;
  display: flex;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: 0.2px;
}
.uploadedFileData {
  border: 2px solid #0f6af5;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #364152;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profilePageContainer {
    height: auto !important;
  }
  .profileContainer {
    width: 90%;
    padding: 16px 12px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .formRow {
    flex-direction: column;
    width: 100%;
  }
  .formColumn {
    width: 100%;
    padding: 5px;
  }
  .uploadedFileData {
    margin-top: 10px;
  }
}

.ApplicationDashboardTable {
  width: 100%;
  border-collapse: collapse;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 12px;
  text-align: left;
}

.TableHeader > div {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.TableBody {
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
  font-size: 14px;
  text-align: left;
}

.ApplicationDashboardCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  color: #615e83;
}
.TableHeader > div:nth-child(1),
.ApplicationDashboardCard > div:nth-child(1),
.TableHeader > div:nth-child(2),
.ApplicationDashboardCard > div:nth-child(2) {
  flex: 30%;
  margin: 0px 10px;
  text-align: left;
}

.TableHeader > div:nth-child(3),
.ApplicationDashboardCard > div:nth-child(3),
.TableHeader > div:nth-child(4),
.ApplicationDashboardCard > div:nth-child(4) {
  flex: 20%;
  text-align: left;
  margin: 0px 10px;
}
/* .ApplicationDashboardPaging {
  margin-top: 20px;
} */
